:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
}
a:hover {
    color: rgb(1, 1, 1);
    /* color: coral; */
    /* background-color: #fff; */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 4em;
    line-height: 1.1;
    margin: 40px 15px 10px;
    text-align: center;
    font-family: futura;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(90, 89, 89);
    color: coral;
}

.walter-turncoat-regular {
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
}

.chelsea-market-regular {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}

.userHome {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    gap: 111px;
}

.bgs {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    align-items: center;
}

.h1,
.userHome {
    /* color: darkgreen; */
    color: white;
    font-size: 0.8em;
}

/* hr {
    margin: 0px 15px 0px;
} */
.introText {
    /* margin: 10px; */
    margin: 0px 15px 0px;
    font-size: 22px;
    font-family: futura;
    /* background-color: #60a43fc2; */
    background-color: #58bad6c2;
    border-radius: 34px;
    padding: 0px 10px 0px 15px;
    /* padding-left: 15px; */
}

.apiContainer {
    font-family: futura;
    max-width: 85%;
    background-color: #080808cc;
    border-radius: 34px;
    display: block;
    margin-top: 20px;
    overflow: auto;
    padding: 10px;
}

.accountPage {
    display: flex;
    background-color: #ffffff52;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: futura;
    font-size: 18px;
    font-weight: 500;
    color: darkgreen;
    /* padding: 30px; */
    padding: 20px 30px 20px 30px;
    margin: 20px;
    border-radius: 20px;
}

.loginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

input {
    border-radius: 10px;
    background-color: whitesmoke;
    height: 30px;
    color: rgb(11, 11, 11);
    font-family: futura;
    font-size: 15px;
}

.map {
    height: 180px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.homeNavIcon {
    margin: 15px;
    position: fixed;
    top: 0%;
    right: 0%;
}

.homeHeaders {
    text-align: center;
    font-size: 20px;
    background-color: #ffffffba;
    /* width: 100%; */
    border-radius: 50px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    /* padding-bottom: 20px; */
}

h2,
.homeHeaders {
    color: darkgreen;
    padding: 0px 20px 0px 20px;
}

/* .ModalContent {
    background-color: blue;
    font-size: 20px;
} */

.colorH1 {
    background: linear-gradient(
        to right,
        violet,
        indigo,
        blue,
        green,
        yellow,
        orange,
        red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    -webkit-text-stroke-width: initial; /* Resetting the stroke width */
    -webkit-text-stroke-color: initial;
}

/* .dogImg {
    width: 300px;
    height: auto;
    border: 1px;
    border-radius: 20px;
} */
.animalCardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.flip-container {
    width: calc(50% - 20px); /* Two cards side by side with spacing */
    /* width: 300px; */
    height: 160px;
    margin: 10px;
    /* perspective: 1000px; */
    display: inline-block;
    position: relative;
}

.flip-container:nth-child(even) .card .backABC {
    left: 50%;
}

.homeCardContainer {
    display: flex;
    padding-bottom: 20px;
}

.homeBtnSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}

.homeCard {
    width: calc(50% - 20px);
    /* height: 100px; */
    height: 60px;
    margin: 10px;
    background-color: #064d1dc7;
    text-align: center;
    line-height: 100px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
}

.p,
.homeCard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

Form {
    text-align: center;
}

.card {
    width: 100%; /* Card takes full width */
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Use transform for animation */
    z-index: 1;
}

.card.expanded {
    /* width: calc(200% - 20px); */
    width: 350px;
    height: 250px;
    /* transform: rotateY(180deg); */
    /* display: flex; */
    transform: rotateY(180deg) translateY(-50%);
    position: absolute;
    top: 50%;
    margin-left: 3px;
    z-index: 20;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front,
.backABC {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: futura;
    font-size: 64px;
    border: white solid 4px;
    border-radius: 40px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.backABC {
    /* background-color: #2ecc71; */
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: white solid 5px;
    border-radius: 40px;
    font-family: futura;
    font-size: 25px;
    left: -5%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);

    /* margin: 5px; */
    /* padding: 10px; */
}

.back {
    background-color: #2ecc71;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: white solid 5px;
    border-radius: 40px;
    font-family: futura;
    font-size: 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* left: -23%; */
    /* margin: 5px; */
    /* padding: 10px; */
}

.card.isflipped {
    transform: rotateY(180deg);
    width: calc(200% - 20px); /* Expanded card takes full width */
    height: 200px; /* Adjusted height for expanded state */
    margin: 10px 0;
    position: absolute;
    z-index: 10;
}

.abcBody {
    overflow-x: clip;
}

.scavengerImgContainer {
    max-width: 100%;
}

.scavengerImg {
    max-width: 100%;
}

/* Clear fix for the parent container */
.abcBody::after {
    content: "";
    display: table;
    clear: both;
}

/* FOR NUMBERS PAGE ---------------------------------------------- */
.number-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span .familyName {
    /* max-width: 140px !important; */
    display: inline-block !important;
    /* display: none; */
}

.flip-container-numbers {
    width: 325px;
    height: 250px;
    /* margin: 10px; */
    /* perspective: 1000px; */
    /* display: inline-block; */
    display: flex;
    /* position: relative; */
    /* margin-bottom: 30px; */
    margin: 10px 0px 10px 0px;
}

.cardNumbers {
    width: 100%;
    height: 100%;
    /* position: relative; */
    transform-style: preserve-3d;
    /* margin: 10px; */
}

.frontNumbers {
    width: 100%;
    height: 100%;
    background-color: #064d1dc4;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    border: white solid 4px;
    border-radius: 50px;
    font-size: 80px;
    align-items: center;
    align-content: center;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.numFrontIcon {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    line-height: 0px;
}

p.numFrontIcon {
    /* margin: 10px; */
    line-height: 0px;
}

.frontNumbers,
.backNumbers {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.backNumbers {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-color: darkgreen;
    color: white;
    font-family: futura;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* padding-left: 20px; */
    /* padding-left: 15px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* transform: rotateY(180deg); */
    border: white solid 5px;
    border-radius: 50px;
}

.numBackHeading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    /* font-size: 32px; */
    line-height: 0;
}

.numBackText {
    padding: 10px 15px 0px 15px;
    font-size: 22px;
    line-height: 1.1;
}

.flip-container-numbers.flippedA .frontNumbers {
    transform: rotateY(180deg);
}

.flip-container-numbers.flippedA .backNumbers {
    transform: rotateY(0deg);
}

/* FOR ANIMALS PAGE ------------------------------------------------*/

.animal-cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    height: 1400px;
}

.flip-container-animals {
    /* width: calc(50% - 20px); Two cards side by side with spacing */
    width: 200px;
    height: 100px;
    margin: 10px;
    perspective: 1000px;
    display: inline-block;
    position: relative;
}

.cardAnimals {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    margin: 10px; /* Adds space between cards */
}

.frontAnimals,
.backAnimals {
    /* width: 200%; */
    height: 200%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.frontAnimals {
    z-index: 2;
    display: flex;
    justify-content: center;
}

.backAnimals {
    transform: rotateY(180deg);
    background-color: #2ecc71;
    color: white;
    font-family: futura;
    font-size: 18px;
    padding-left: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* transform: rotateY(180deg); */
    border: white solid 5px;
    border-radius: 10px;
}

.flip-container-animals.flippedA .frontAnimals {
    transform: rotateY(180deg);
}

.flip-container-animals.flippedA .backAnimals {
    transform: rotateY(0deg);

    width: 300px;
}

/* COLORS CARDS --------------------------------------------- */

.colorsAnimation {
    display: flex;
}

.colorsBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flip-container-colors {
    width: 300px;
    height: 250px;
    margin: 15px 0px 15px 0px;
    perspective: 1000px;
    display: inline-block;
    position: relative;
}

.card.expandedColors {
    /* width: 300px;
    height: 200px; */
    transform: rotateY(180deg) translateY(-50%); /* Rotate and move the card */
    position: absolute; /* Position absolute for expanded card */
    top: 50%; /* Align expanded card vertically */
    left: 10px; /* Align expanded card to the left */
    z-index: 20; /* Set z-index higher to appear on top of other cards */
}

/* .colorsAnimation {
    display: flex;
} */

/* Media query for mobile screens */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #1a1a1a;
    }
}
